gunicorn
certifi
chardet
click
dominate
Flask
Flask-APScheduler
Flask-Bootstrap
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy
# urllib
visitor
Werkzeug
WTForms
psycopg2-binary

lxml
beautifulsoup4
newspaper3k
Flask-Dance
Flask-Mail
lxml[html_clean]
python-dotenv